{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "implicit-arrow-linebreak": "off",
    "comma-dangle": "off",
    "indent": "off",
    "no-trailing-spaces": "off",
    "linebreak-style": "off",
    "no-use-before-define": "off",
    "no-param-reassign": "off",
    "no-console": "off",
    "no-undef": "off",
    "react/prop-types": "off",
    "max-len": "off"
  }
}